
.location>h5{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}

.location>p{
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin:0;
}

.vertical-line{
    height: 45px;
    /* padding: 0px !important; */
    border: 1px solid gray;
}

.search-div{
    padding: 0px 12px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 12px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
}

.search-div>input{
border: none;
background-color: transparent;
width: 40vw;
height: 45px;
}

::placeholder{
    font-weight: 400;
    font-size: 14px;
    color: rgb(153, 153, 153);
}